*.gem
*.rbc
.bundle
.config
.yardoc
yard
Gemfile.lock
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*.o
*.so
mkmf.log
TAGS

ext/numo/linalg/*/types/*.c
ext/numo/linalg/*/extconf.h
ext/numo/linalg/*/Makefile
ext/numo/linalg/*/depend
ext/numo/linalg/blas/blas_?.c
ext/numo/linalg/lapack/lapack_?.c

t.rb
t.py
t
bak
*.bak
#*
