*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
*.o
*.so
mkmf.log
TAGS

ext/numo/linalg/lapack/types/*.c
ext/numo/linalg/lapack/extconf.h
ext/numo/linalg/lapack/Makefile
ext/numo/linalg/lapack/depend
ext/numo/linalg/lapack/linalg_?.c

ext/numo/linalg/blas/extconf.h
ext/numo/linalg/blas/Makefile
ext/numo/linalg/blas/depend
ext/numo/linalg/blas/blas_?.c

t.rb
t.py
bak
*.bak
